REDASH_URL=http://localhost:5000
USER_NAME=admin
USER_EMAIL=admin@p2p.org
USER_PASS=supersecret123
ORG_NAME=p2p
DB_HOST=db
DB_PORT=5432
DB_USER=sink
DB_PASS=Ekj31R2_03S2IwLoPsWVa28_sMx_xoS
DB_NAME=raw
DB_SSL_MODE=disable
DB_TYPE=pg
DATASOURCE_NAME=mbelt
DASHBOARD_NAME=Gas Fees
QRY_DIR=./queries